.header{
    height:50px;
    position:fixed;
    z-index:1000;

}

@media (max-width:480px){
.header{

    font-size: 10px;
}
.search-btn{
    width:50px;
    font-size: 10px;
    margin-left:-3px;
}
.search-box{
    margin-left:-14px;
}
input::placeholder {
  font-size: 10px;
  color: #999;
}

} 
.home-container{
    margin-top:60px;
    position:absolute;
}