.header {
    height: 50px;
    position: fixed;
    z-index: 1000;

}

.images {
    height: 30vh;
    width: 70%;
}

form {
    width: 75%;
}

.navbar-toggler {
    background: white;

}

.brand-name {
    font-weight: bold;
}

.conta {
    display: grid;

}

@media (max-width:1050px) {
    form {
        width: 70%;
    }
}

@media (max-width:431px) {}

.home-container {
    margin-top: 60px;
    position: absolute;
}